.earthquake-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.flex-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.whithout-margin {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1.25rempx;
}
